@page "/book"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using KennysCuts.Model
@using KennysCuts.Context
@using System.ComponentModel.DataAnnotations
@inject DatabaseContext DatabaseContext
@inject NavigationManager NavigationManager
@inject HaircutsProvider HaircutsProvider
@inject TimeslotProvider TimeslotProvider
@inject BarberProvider BarberProvider

<h3 class="text-center my-4">Book Now</h3>



<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- Select Time Card -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center">Select Time</h5>
                    <div class="row">
                        <p class="card-text mb-3">
                            Please select a timeslot for your booking, this can always be changed later if you like.
                        </p>
                        <EditForm Model="@newBooking" OnValidSubmit="CheckAndBook">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="mb-3">
                                <label>Timeslot:</label>
                                <InputDate @bind-Value="newBooking.Timeslot" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Book Timeslot</button>
                        </EditForm>

                        @if (message != null)
                        {
                            <p class="text-center mt-3">@message</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Select Service & Barber Card -->
        <div class="col">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Select Service & Barber</h5>

                    <p class="card-text mb-3">
                        Choose from our professional line of barbers.
                    </p>

                    <!-- Select Barber Section -->
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col-md-4">
                        <label for="inputState" class="form-label">Barber</label>
                        <select id="inputState" class="form-select" @bind="selectedBarber">
                            <option selected>Choose barber</option>
                            <option>Kenny</option>
                            <option>Jimmy</option>
                            <option>George</option>
                        </select>
                    </div>
                </div>


                    <!-- Select Service Section -->
                    <p class="card-text mb-2">Choose from our range of haircuts.</p>
                    <select class="form-select mb-4" aria-label="Service select" @bind="selectedService">
                        <option value="0">Choose a service</option>
                        @foreach (var service in services)
                        {
                            <option value="@service.Name">@service.Name</option>
                        }
                    </select>

                    <p class="card-text mt-4 mb-3">Learn more on our Services page.</p>

                    <!-- Link to Services Page -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a href="/servicespage">Services</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Summary Card -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center">Summary</h5>
                    <p class="card-text">
                        Review your selections and confirm your appointment details here.
                    </p>
                    <li class="list-group-item">Timeslot: @newBooking.Timeslot.ToString("hh:mm tt")</li>
                    <li class="card-text">Selected Barber: <strong>@selectedBarber</strong></li>
                    <li class="card-text">Selected Service: <strong>@selectedService</strong></li>
                </div>
            </div>
        </div>

    </div>
</div>







@code {

    private Booking newBooking = new Booking();
    private List<Services> services;
    private List<Barber> barbers;

    protected override async Task OnInitializedAsync()
    {
        services = await HaircutsProvider.GetAllServicesAsync();
        barbers = await BarberProvider.GetAllBarberAsync();

    }

    private string selectedBarber { get; set; }
    private string selectedService { get; set; }





    private string message;

    private async Task CheckAndBook()
    {
        if (await TimeslotProvider.IsTimeslotAvailableAsync(newBooking.Timeslot))
        {
            await TimeslotProvider.AddBookingAsync(newBooking);
            message = "Booking successful!";
        }
        else
        {
            message = "Timeslot is already taken. Please select a different time.";
        }
    }







}



